// colors
$primary-color:#091638; //headings and main color
$secondary-color:#1c3988; //buttons and links
$blue-hover:#6E8AE9;
$background-color:#f3f3fa; //background color
$background-color-sec:#f9f9f9; //background color