/*Import Main Font cairo*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}


:root {
  	
  	/* font sizes */
    --h1-semibold-size: 3.5rem;
    --h2-semibold-size: 2.5rem;

  	--h3-medium-size: 1.75rem;
  	--h4-semibold-size: 1.5rem;
  	--h5-medium-size: 1rem;

  	--font-size-sm-6: 0.85rem;
  	--font-size-xl: 1.25rem;
  	
  	--font-size-16xl: 2.188rem;
  	
  	
  	/* Colors */
  	--color-whitesmoke: #f9f9f9;
  	--blue: #1c3988;
	--dark-blue: #091638;
  	--color-lightgray-100: #d7d7d7;
  	--color-black: #000;
  	--light-blue: #f3f3fa;
  	--color-gray-100: #8e8e8e;
  	--color-gray-200: #8d8d8d;
  	
  	--color-red: #dd0000;
  	--color-white: #fff;
  	--color-snow: #fffafa;
  	
  	/* Gaps */
  	--gap-3xl: 1.375rem;
  	--gap-18xl: 2.312rem;
  	--gap-6xl: 1.562rem;
  	--gap-7xl: 1.625rem;
  	--gap-xs: 0.75rem;
  	--gap-27xl: 2.875rem;
  	--gap-426xl: 27.812rem;
  	--gap-mini: 0.937rem;
  	--gap-22xl: 2.562rem;
  	--gap-16xl: 2.187rem;
  	--gap-9xs: 0.25rem;
  	--gap-8xs: 0.312rem;
  	--gap-87xl: 6.625rem;
  	--gap-xl: 1.25rem;
  	--gap-mid: 1.062rem;
  	--gap-10xl: 1.812rem;
  	--gap-3xs: 0.625rem;
  	
  	/* Paddings */
  	--padding-12xs: 0.062rem;
  	--padding-12xs-7: 0.043rem;
  	--padding-xs-6: 0.725rem;
  	--padding-10xs: 0.187rem;
  	--padding-6xl: 1.562rem;
  	
  	/* Border radiuses */
  	--br-5xs: 8px;
  	--br-7xs-4: 5.4px;
  	--br-31xl: 50px;
  	
}

h1,h2,h3,h4,h5,h6{
	color: var(--dark-blue);
}